<section class="bg-gray-2 rounded-xl">
  <div class="p-8 shadow-lg max-h-[75vh] overflow-y-auto">
    <div class="flex justify-between my-2">
      <div class="flex gap-4 my-2">
        <button
          (click)="filter.set('all')"
          [class.activo]="filter() == 'all'"
          class="badge"
        >
          Todas
        </button>
        <button
          (click)="filter.set('active')"
          [class.activo]="filter() == 'active'"
          class="badge"
        >
          Activas
        </button>
        <button
          (click)="filter.set('expired')"
          [class.activo]="filter() == 'expired'"
          class="badge"
        >
          Expiradas
        </button>
      </div>
      <div>
        <input
          class="input"
          type="text"
          placeholder="Buscar"
          [formControl]="searchTenencia"
          (input)="onSearchUpdated(searchTenencia.value)"
        />
      </div>
    </div>
    <table class="table-hover table">
      <thead>
        <tr>
          <th>N°</th>
          <th>Tenencia</th>
          <th>Dominio</th>
          <th>Días Restantes</th>
          <th>Estado</th>
          <th>Expedición</th>
          <th>Vencimiento</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (row of tenencias(); track $index) {
        <tr>
          <th>{{ $index + 1 }}</th>
          <td>{{ row.result.host }}</td>
          <td>{{ row.result.host }}</td>
          <th>{{ row.result.days_left }}</th>
          <td>
            <span
              [ngClass]="
                row.result.cert_valid == false
                  ? 'badge badge-error'
                  : 'badge badge-success'
              "
              >{{
                row.result.cert_valid == false ? "Expirado" : "Activo"
              }}</span
            >
          </td>
          <td>{{ row.result.valid_from }}</td>
          <td>{{ row.result.valid_till }}</td>
          <td>
            <div class="dropdown">
              <label class="btn btn-ghost btn-sm" tabindex="0">
                <svg
                  class="w-5 h-5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 4 15"
                >
                  <path
                    d="M3.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 6.041a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 5.959a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"
                  />
                </svg>
              </label>
              <div class="dropdown-menu dropdown-menu-left">
                <label
                  (click)="refrescarFila(row.result.host)"
                  class="dropdown-item text-sm"
                  >Refrescar</label
                >
                <label
                  class="dropdown-item text-sm"
                  (click)="previsualizarTenancy('https://' + row.result.host)"
                  for="modal-tenancy"
                  >Previsualizar Embed</label
                >
                <a
                  class="dropdown-item text-sm"
                  [href]="'https://' + row.result.host"
                  target="_blank"
                  >Previsualizar</a
                >
              </div>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <input class="modal-state" id="modal-tenancy" type="checkbox" />
  <div class="modal w-full h-full">
    <label class="modal-overlay" for="modal-tenancy"></label>
    <div class="modal-content flex flex-col gap-5 max-w-3xl">
      <label
        for="modal-tenancy"
        class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
        >✕</label
      >
      <h2 class="text-xl">Tenancy_name</h2>
      <iframe
        [src]="current_tenancy"
        [style.width]="iframeWidth"
        [style.height]="iframeHeight"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>
