<section class="flex flex-row gap-4 flex-wrap">
  <div class="card">
    <div class="card-body">
      <h3 class="card-header">Titulo de ejemplo</h3>
      <div class="">Manejo de usuarios, roles y niveles de acceso</div>
      <div class="card-footer">
        <button class="btn btn-primary">Go to</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3 class="card-header">Titulo de ejemplo</h3>
      <div class="">Manejo de usuarios, roles y niveles de acceso</div>
      <div class="card-footer">
        <button class="btn btn-primary">Go to</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3 class="card-header">Titulo de ejemplo</h3>
      <div class="">Manejo de usuarios, roles y niveles de acceso</div>
      <div class="card-footer">
        <button class="btn btn-primary">Go to</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3 class="card-header">Titulo de ejemplo</h3>
      <div class="">Manejo de usuarios, roles y niveles de acceso</div>
      <div class="card-footer">
        <button class="btn btn-primary">Go to</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3 class="card-header">Titulo de ejemplo</h3>
      <div class="">Manejo de usuarios, roles y niveles de acceso</div>
      <div class="card-footer">
        <button class="btn btn-primary">Go to</button>
      </div>
    </div>
  </div>
</section>
